<p id="notice"><%= notice %></p>
<h2><%= @competition.name %> - <%= @competition.year.year %></h2>
<p>
<table>
  <tr>
    <td>
      <b>Date:</b>
      <%= @competition.start_date.strftime("%b-%d-%Y") %>
      <b>-</b>
      <%= @competition.end_date.strftime("%b-%d-%Y") %>
    </td>
    <td>
      <b>Location:</b>
      <%= @competition.city %>,
      <%= @competition.province %>,
      <%= @competition.country %>
    </td>
  </tr>
</table>

<%= link_to 'Back', competitions_path %>
