<p id="notice"><%= notice %></p>
<h2><%= @match.competition.name %> - <%= @match.competition.year.year %></h2>
<p>
<table>
  <tr>
    <td>
      <b>Match:</b>
      <%= @match.number %>
      &nbsp;
      <b>Team:</b>
      <%= "#{@match.team.number} - #{@match.team.name}" %>
    </td>
  </tr>
</table>

<h2>Autonomies</h2>

<table class="table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <td><b>Id</b></td>
    <td><b>Objective</b></td>
    <td><b>Start:X</b></td>
    <td><b>Start:Y</b></td>
    <td><b>End:X</b></td>
    <td><b>End:Y</b></td>
    <td><b>Duration</b></td>
    <td><b>Success</b></td>
  </tr>
  </thead>
  <tbody>
  <% @autonomies.each do |autonomy| %>
    <tr>
      <td><%= autonomy.id %></td>
      <td><%= autonomy.objective.name %></td>
      <td><%= autonomy.start_x %></td>
      <td><%= autonomy.start_y %></td>
      <td><%= autonomy.end_x %></td>
      <td><%= autonomy.end_y %></td>
      <td><%= autonomy.duration %></td>
      <td><%= autonomy.success %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Events</h2>

<table class="table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <td><b>Id</b></td>
    <td><b>Objective</b></td>
    <td><b>Position:X</b></td>
    <td><b>Position:Y</b></td>
    <td><b>Start</b></td>
    <td><b>Duration</b></td>
    <td><b>Success</b></td>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.objective.name %></td>
      <td><%= event.position_x %></td>
      <td><%= event.position_y %></td>
      <td><%= event.start_time %></td>
      <td><%= event.duration %></td>
      <td><%= event.success %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', competition_matches_path(@match.competition) %>
